.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 350px;
  background: #262626;
}

.img__box {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  border: #13baec 2px solid;
}

.img__box-img {
  width: 100%;
  height: 100%;
  /* object-position: 0 -80px; */
}

.img1 {
  object-position: 2px 1px;
}
.img2 {
  object-position: -1px 0px;
}
.img4 {
  object-position: 0px 0.5px;
}

.details {
  background-origin: border-box;
  padding: 20px;
  background-color: #262626;
  border-radius: 10px;
  margin-top: 4px;
  height: 20px;
}
.details:hover h3 {
  color: #255784;
}
.details:hover {
  background: #2196f3;
  box-shadow: 0 0 5px #2196f3, 0 0 5px #2196f3, 0 0 10px #2196f3;
}
.details h3 {
  font-size: 20px;
  margin-top: -13px;
  padding: 0;
  text-align: center;
  line-height: 20px;
  color: #2196f3;
}
.details h3 span {
  font-size: 16px;
  color: #13baec;
}
